@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

:root {
    --main-color: #2B1103;
    --sub-color: #DCC69C;
    --white: #fff;
    --border: 1rem solid rgba(220, 198, 156, .3);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--sub-color);
    color: var(--main-color);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sub-color);
    border-radius: 5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}


body {
    background-color: var(--main-color);
}

section {
    /* padding: 3rem 2rem; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

.head {
    /* display: grid;
    place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--sub-color);
    text-align: center;
    text-transform: capitalize;
    transition: .2s linear;
    margin-top: 1rem;
    background-color: var(--main-color);

}

.btn:hover {
    border-radius: 5rem;
    background-color: var(--sub-color);
    color: var(--main-color);
}

.header {
    padding-bottom: 0;
}


.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    color: var(--sub-color);
    font-size: 2.5rem;
}

.header .flex .btn {
    margin-top: 0;
}

.header .flex .fa-bars {
    font-size: 3rem;
    cursor: pointer;
    color: var(--sub-color);
    display: none;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-self: space-around;
    gap: 4.5rem;
    background-color: var(--sub-color);
    margin-top: 20px;
    padding: .5rem;
    border-radius: .5rem;
}

.header .navbar a {
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 1rem 3rem;
    border-radius: .5rem;
}

.header .navbar a:hover {
    background-color: var(--main-color);
    color: var(--sub-color);
}

.nav a {
    margin: 0 2rem;
}

.home .box {
    height: inherit;
}

.home .box img {
    border-radius: .5rem;
    height: 80vh;
    width: 90vw;
    object-fit: cover;
}

.home .box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.home .box .flex h3 {
    font-size: 2.5rem;
    color: var(--sub-color);
    text-transform: capitalize;
}

.swiper-button-prev {
    left: 24;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.home .swiper-button-next {
    right: 24;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.swiper-button-next,
.swiper-button-prev {
    padding: 3rem 2rem;
    background-color: var(--white);
    top: 40%;
    opacity: .7;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--main-color);
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}

.availibility .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.availibility .flex form .formflex {
    display: flex;
}

.availibility .flex form .formflex .box {
    margin: 20px;
}

.availibility .flex form .formflex .box p {
    font-size: 2rem;
    color: var(--sub-color);
    text-transform: capitalize;
}

.availibility .flex form .box .input {
    padding: 1rem 0;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid;
    border-radius: 10px;
    width: 200px;
    margin-top: 10px;
    padding: 15px;
    border-bottom: var(--border);
    margin: 1rem 0;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    margin: 50px 50px;

}

.about .row .image {
    flex: 1 1 20rem;
}

.about .row .image img {
    width: 10rem;
    border-radius: .5rem;
}

.about .row .content {
    flex: 1 1 50rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p {
    line-height: 2;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: var(--sub-color);
}

.reservation form {
    border: var(--border);
    padding: 2rem;
}

.reservation form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form h3 {
    background-color: var(--sub-color);
    color: var(--main-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}


.reservation .flex form .flexform .formflex .box {
    flex: 1 1 40rem;
}

.reservation .flex form .flexform .formflex {
    display: flex;
}

.reservation .flex .flexform {
    display: flex;
}

.reservation .flex form .flexform .formflex .box p {
    font-size: 1.8rem;
    color: var(--sub-color);
}

.reservation .flex form .flexform .formflex .box .input {
    padding: 1rem 0;
    margin: 1rem 3rem;
    border-bottom: var(--border);
    background: var(--main-color);
    color: var(--white);
    font-size: 1.3rem;
    width: 90%;


}

.reservation form .flex .box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.gallery img {
    height: 40rem;
    width: 60rem;
    border-radius: .5rem;
    object-fit: cover;
}














.about .row.revers {
    flex-flow: row-reverse;
    margin: 3rem 0;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15%;
}

.services {
    display: grid;
    grid-auto-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding-top: 100px;
}

.services .services-items .box {
    padding: 2rem;
    text-align: center;
    width: 400px;
    border: 1px solid white;
    flex: 1 1 200px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.services .box img {
    width: 100px;
    margin-bottom: 1rem;
}

.services .box h3 {
    font-size: 2.5rem;
    color: var(--sub-color);
    text-transform: capitalize;
    margin: 1rem 0;

}

.services .services-items .box p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--sub-color);
    text-align: center;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #171414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.availibility .flex form .formflex .box select option {
    background-color: black !important;
}



/*media queries */

@media(max-width:1000px) {


    .header .flex .fa-bars {
        display: flex;
        font-size: 3rem;
        cursor: pointer;
        color: var(--sub-color);
    }

    .header .flex .btn {
        display: none;
    }

    .header .navbar {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-self: space-around;
        gap: 1.5rem;
        background-color: var(--sub-color);
        margin-top: 20px;
        padding: .5rem;
        border-radius: .5rem;
    }
}

.gallery .swiper {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery .swiper .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.gallery .swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: auto;
}

.gallery .swiper .swiper-wrapper .swiper-slide img {
    height: 40rem;
    width: 50rem;
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 4rem;
    user-select: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--sub-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--white);
}

/* image slider start */
@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

#slider {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}

.slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;
    display: none;
}

.gallery #slider .slides img {
    width: 100%;

}

#dot {
    margin: 0 auto;
    text-align: center;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    background: #f3f0f0;
    padding: 4px;
    margin: 10px 5px;
}

.active {
    background: black;
}

@media (max-width:567px) {
    #slider {
        width: 100%;

    }
}



/* image slider ends */



.contact .row {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

.contact .row form {
    flex: 1 1 40rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    width: 50% !important;
    padding: 30px 100px !important;
    margin: 40px !important;
}

.contact .row form h3 {
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 5px;
    color: var(--main-color);
    background-color: var(--sub-color);
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
}
.contact .row form .box{
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: var(--border);
    font-size: 1.8rem;
    color: var(--sub-color);
    background: var(--main-color);
    width: 100%;
    border-bottom: 2px solid;
}

.contact .row form .box::placeholder{
    color: rgba(220, 198, 156, .6);
}

.contact .row form textarea{
    height: 10rem;
    resize: none;
}
.contact .row .faq{
    width: 50% !important;
    padding: 50px 100px 0 !important;
}
.contact .row .faq .title{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--sub-color);
    text-transform: capitalize;
    text-align: center;
}

.contact .row .faq .box{
    border-radius: 2rem;
    border: var(--border);
    margin-top: 2rem;
}

.contact .row .faq .box h3{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.contact .row .faq .box p{
    padding:1.5rem 2rem;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--sub-color);
    display: none;
}

.contact .row .faq .box.active p{
    display: inline-block;
}

.reviews .swiper {
    margin: 40px 50px !important;
}

.reviews{
    padding-top: 0;

}

.reviews .box{
    text-align: center;
    user-select: none;
    padding: 2rem;
    margin: 0 200px;
}

.reviews .box img{
    height: 20rem;
    width:  20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.reviews .box h3{
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--sub-color);
}

.reviews .box p{
    line-height: 2;
    font-size: 1.5rem;
    color: var(--sub-color);
    padding-top: 1rem;
}
.reviews .container .dots{
    display: flex !important;
    justify-content: center;
    place-items: center;
}

.footer .box-container{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
    margin: 0 200px;
    justify-content: space-between;
}

.footer .box-container .home-list{
    margin-right: 100px;
}
.footer .box-container .box a{
    display: flex;
    font-size: 1.8rem;
    color: var(--sub-color);
    padding: 1rem 0;
}


.footer .box-container .box a:hover{
    color: var(--white);

}

.footer .box-container .box:first-child i{
    margin-right: 1.7rem;
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:last-child{
    text-align: right;
}

.footer .box-container .box:last-child i{
    margin-left: 1.7rem;
}

.footer .credit{
    border-radius: 5rem;
    padding: 2rem;
    text-align: center;
    color: var(--main-color);
    background-color:var(--sub-color);
    font-size: 2rem;
}






































@media(max-width:450px) {

    html {
        font-size: 50%;

    }

    .header .flex .logo {
        font-size: 2rem;
    }

    .home .box img {
        height: 25rem;
    }




    .header .navbar {
        flex-flow: column;
        padding: 2rem;
        display: none;
    }

    .header .navbar.active {
        display: flex;
    }

}

@media (max-width: 768px) {

    /* .home .box img {
    height: 40vh;
} */

    .swiper-button-next,
    .swiper-button-prev {
        top: 25%;
    }

}

.about .row .image img {
    width: 100%;
}